.Deliveries h2 {
    margin-bottom: 20px;
}

.Deliveries {
    position: relative;
}

.Deliveries .add-icon {
    font-size: 75px;
    position: fixed;
    bottom: 60px;
    right: 40px;
    cursor: pointer;
    color: #E73137;
}

.Deliveries .date-picker {
    display: flex;
    align-items: center;
}

.Deliveries .date-picker-title {
    flex: 1;
    display: flex;
    justify-content: flex-start;
}

.Deliveries .date-picker-input {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}