.sidebar {
    width: 200px;
    background-color: #E73137;
    color: white;
    height: 100vh;
    padding: 20px;
    left: 0;
    top: 0;
}

.sidebar h3 {
    margin: 0;
    padding: 10px 0;
    color: #ecf0f1;
}

.sidebar nav {
    display: flex;
    flex-direction: column;
}

.sidebar nav a {
    color: #ecf0f1;
    text-decoration: none;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.sidebar nav a:hover,
.sidebar nav a.active-link {
    background-color: #3498db;
    color: white;
}