.sidebar {
    width: 25vw;
    background-color: #E73137;
    color: white;
    height: 100vh;
    left: 0;
    top: 0;
    position: fixed;
}

.sidebar .dashboard {
    padding: 20px;
}

.sidebar h3 {
    margin: 0;
    padding: 10px 0;
    color: #ecf0f1;
}

.sidebar nav {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
}

.sidebar nav a {
    color: #ecf0f1;
    text-decoration: none;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.sidebar hr {
    border: none;
    /* Removes the default styling */
    border-top: 2px dashed #fff;
    /* Adds a dashed top border with a specified color */
    margin: 18px 0;
    /* Optional: Adds space around the <hr> */
}

.sidebar nav a:hover {
    background-color: #cc2a30;
    color: white;
}

.sidebar nav a.active-link {
    background-color: #ff4b52;
    /* Changes background color for active link */
    color: white;
    /* Ensures the text color is readable */
    font-weight: bold;
}